<p>
  <mat-toolbar class="toolbar" color="basic">
    <button mat-fab routerLink="" class = "home-icon" aria-label="Home icon" color="basic">
      <mat-icon>home</mat-icon>
    </button>
    <span class = "name"> Meals INC. </span>
    <button mat-icon-button class="info-icon" aria-label="Info icon">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button class="share-icon" aria-label="Share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<p>
  <mat-toolbar class = "footer" color = "basic">
    <span>Copyright © 2021 Meals INC.</span>
  </mat-toolbar>
</p>
