<p>
  <mat-toolbar class="toolbar" color="basic">
    <button mat-fab routerLink="/landing" class = "home-icon" aria-label="Home icon" color="basic">
      <mat-icon>home</mat-icon>
    </button>
    <span class = "name"> Meals INC. </span>
    <button mat-icon-button class="info-icon" aria-label="Info icon" (click)="openThisDialog()">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-fab routerLink="" class = "logout-icon" aria-label="Logout icon" color="basic">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
