
<div mat-dialog-title class="title"> {{data.tableName}} </div>

<div class="orders">
  <ul>
    <li *ngFor = "let meal of mealsArray">
      {{ meal.productName }} : {{ meal.productPrice }} €
    </li>
  </ul>
</div>

<div mat-card-content class="tableContainer">
  <mat-card class="tabl">

    <div class="searchFilter">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Ex. Coca Cola" #input>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let product"> {{ product.productID }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let product"> {{ product.productName }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{ product.productPrice }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button color="warn" (click)="assignProduct(data.tableId, product.productID)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
  </mat-card>
</div>

<div mat-dialog-actions class="checkout">
  <button mat-raised-button class="close2" aria-label="Close icon">
    Checkout
  </button>
</div>

<div mat-dialog-actions class="btn">
  <button mat-fab class="close" aria-label="Close icon" color="basic" mat-dialog-close>
    <mat-icon><b>close</b></mat-icon>
  </button>
</div>
