<app-toolbar></app-toolbar>

<div class="title">
  <p>{{ title }}</p>
</div>

<div class="nice"></div>

<ul class="list-group">
  <li *ngFor="let table of tables; let i = index">
    <div class="tablesContainer">
      <mat-card class="tabl">
        <mat-card class="tableItem">
          <div class="tableText">
            Table: {{ table.tableId }}
            <button mat-icon-button (click)="openThisDialog(i, table.tableName, table.tableId)">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </li>
</ul>


