.title {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5vw;
}

.tableContainer {
  padding: 30px;
  max-width: 50vw;
  width: 50vw;
  display: flex;
  margin-left: 23.5vw;
}

.tabl {
  width: 50vw;
  max-width: 50vw;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.chat {
  height: 30rem;
}

.text {
  margin-top: 20px;
  height: 5rem;
}

.list-group {
  line-height: 40px;
}

.btnsend {
  float: right;
  margin-top: 20px;
}

.form-control-message {
  padding-top: 10px;
  margin-left: 40px;
  width: 40vw;
}
