<app-toolbar></app-toolbar>

<link rel="stylesheet" href="employees.component.css">
<div class="title">
  <p>{{ title }}</p>
</div>

<div class="asd2"></div>

<mat-tab-group mat-align-tabs="center" role="manageEmpl">
  <mat-tab label="Overview">

    <div class="tableContainer">
      <mat-card class="tabl">

        <div class="searchFilter">
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Ex. Mia" #input>
          </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let employee"> {{ employee.employeeId }} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let employee"> {{ employee.employeeName }} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let employee"> {{ employee.employeeRole }} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let employee">
              <button mat-icon-button color="warn" (click)="deleteEmployee(employee.employeeId)" *ngIf="isManager" id="deleteEmpl">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]"
                       showFirstLastButtons
                       aria-label="Select page">
        </mat-paginator>


      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Manage" *ngIf="isManager">
    <div class="tableContainer">
      <mat-card class="tabl">
        <mat-card>

          <div class="add">
            <p>Add Employees</p>
          </div>

          <form>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Employee Name</mat-label>
              <input matInput [formControl]="employeeName" placeholder="Ex. John" required id="name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Employee Role</mat-label>
              <input matInput [formControl]="employeeRole" placeholder="Ex. Waiter" required id="role">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Employee Username</mat-label>
              <input matInput [formControl]="employeeUsername" placeholder="Ex. johndoe" required id="username">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Employee Password</mat-label>
              <input matInput
                     [type]="hidePassword ? 'password' : 'text'"
                     [formControl]="employeePassword" placeholder="Password" required id="password">
              <button mat-icon-button matSuffix
                      (click)="hidePassword = !hidePassword"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <br>

            <button mat-fab class = "add-icon" aria-label="Add icon" color="basic" (click)="onCreateEmployee()" id="addEmpl">
              <mat-icon><b>add</b></mat-icon>
            </button>
          </form>

        </mat-card>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
