.mat-dialog-title {
  font-size: 30px;
}

.mat-dialog-content {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 23px;
}

.close {
  background-color: #5897b1;
  color: black;
  transition: 0.3s;
}

.close:hover {
  background-color: #325a68;
  color: white;
}
