.btnEmployees {
  font-size: 30px;
  border-radius: 15px;
  padding-block: 20px 20px;
  background-color: white;
  transition: 0.3s;
  margin-left: 50px;
}

.btnEmployees:hover {
  background-color: #5897b1;
  color: white;
}

.manageEmpl {
  max-width: 16rem;
  background-color: rgba(0,0,0,0.3);
}
