<div class="bigContainer">
    <mat-card class="manageEmpl">
      <div class="btnEmployeesContainer">
      <button mat-button routerLink="employees" class="btnEmployees">
        <span>Manage<br>Employees</span>
      </button>
      </div>
      <div class="asd"></div>

        <mat-expansion-panel class="infoEmpl">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>info</mat-icon>
            </mat-panel-title>

            <mat-panel-description class="descript">
              Manage Employees Info
            </mat-panel-description>

          </mat-expansion-panel-header>
          <p> Here you manage your employees and their data. </p>
        </mat-expansion-panel>

    </mat-card>
</div>

<div class="bigContainer1">
  <mat-card class="manageEmpl">
    <div class="btnEmployeesContainer">
      <button mat-button class="btnEmployees">
        <span>Manage<br>Orders</span>
      </button>
    </div>
    <div class="asd"></div>

    <mat-expansion-panel class="infoEmpl">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>info</mat-icon>
        </mat-panel-title>

        <mat-panel-description class="descript">
          Manage Orders Info
        </mat-panel-description>

      </mat-expansion-panel-header>
      <p> This is where you manage your customers' orders. </p>
    </mat-expansion-panel>

  </mat-card>
</div>

