


<p>
  <mat-toolbar class="toolbar" color="basic">
    <span class = "name"> Meals INC. </span>
  </mat-toolbar>
</p>

<div class="loginContainer">
  <mat-card class="login">

    <mat-card>
      <div class="loginText">
        <p><b>Login</b></p>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. John">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               [formControl]="pw" placeholder="Ex. Doe">
        <button mat-icon-button matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>

      <button mat-fab routerLink="/landing" class="login-icon" aria-label="Add icon" color="basic">
        <mat-icon>login</mat-icon>
      </button>
    </mat-card>

  </mat-card>
</div>

<p>
  <mat-toolbar class = "footer" color = "basic">
    <span>Copyright © 2021 Meals INC.</span>
  </mat-toolbar>
</p>

<link rel="stylesheet" href="login-page.component.css">




